;;bb >= v1.35
{:tasks
 {:requires  ([babashka.fs :as fs])
  watch {:task (shell "npx shadow-cljs watch app")}
  compile {:task (shell "npx shadow-cljs compile app")}
  release {:task (shell "npx shadow-cljs release app")}
  ;;updates
  update-npm {:task (shell "npx npm-check-updates -u")}
  update-deps {:task (shell "clojure -Aoutdated -a outdated --write")}

  deploy-docs {:task (let [rp   "resources/public"
                           dest "docs"
                           destjs (str dest "/js")
                           cp-to (fn [f dir]  
                                   (fs/copy f (fs/file (or dir dest) (fs/file-name f)) 
                                            {:replace-existing true}))]
                       (do
                         (fs/create-dirs destjs )
                         (cp-to (fs/file rp "index.html") dest )
                         (cp-to (fs/file rp "js/main.js") destjs)
                         (run! (fn [f] (cp-to f dest)) (fs/glob rp "**.{css}") )
                         nil
                         ))}
 ;;tailwind 
  purgecss {:task (shell "npm run-script tw")}
 ;;shadow report
  buildreport {:task (let [date (java.time.LocalDateTime/now)
                           formatter (java.time.format.DateTimeFormatter/ofPattern "yyyy-MM-dd")
                           file (str "buildreport_" (.format date formatter) ".html")]
                       (shell (str "npx shadow-cljs run shadow.cljs.build-report app " file)))}}}
