{:aliases {:test     {:extra-paths ["test"],
                      :extra-deps  {org.clojure/test.check {:mvn/version "RELEASE"}}},
           :runner   {:extra-deps {com.cognitect/test-runner {:git/url "https://github.com/cognitect-labs/test-runner",
                                                              :sha     "76568540e7f40268ad2b646110f237a60295fa3c"}},
                      :main-opts  ["-m" "cognitect.test-runner" "-d" "test"]},
           :dev      {:extra-deps  {com.teknql/shadow-cljs-tailwind-jit {:mvn/version "0.2.2"},
                                    binaryage/devtools         {:mvn/version "1.0.3"},
                                    day8.re-frame/re-frame-10x {:mvn/version "1.1.10"}}
                      :extra-paths ["src" "env/dev" "target"]}
           :outdated {:replace-deps {olical/depot {:mvn/version "RELEASE"}}
                      :main-opts  ["-m" "depot.outdated.main"]}},
 :deps    {org.clojure/clojure     {:mvn/version "RELEASE"},
           reagent/reagent         {:mvn/version "1.1.0"},
           ns-tracker/ns-tracker   {:mvn/version "0.4.0"},
           integrant/integrant     {:mvn/version "0.8.0"},
           meander/epsilon         {:mvn/version "0.0.650"},
           nano-id/nano-id         {:mvn/version "1.0.0"},
           ribelo/doxa             {:git/url "https://github.com/ribelo/doxa"
                                    :sha     "5fb2bfa622e4d1d3a8090e26dadc00d68416e8bc"} 
           re-pressed/re-pressed   {:mvn/version "0.3.1"
                                    :exclusions  [re-frame/re-frame reagent/reagent]},
           metosin/reitit-schema   {:mvn/version "0.5.15"},
           metosin/reitit-frontend {:mvn/version "0.5.15"},
           metosin/reitit          {:mvn/version "0.5.15"},
           re-frame/re-frame       {:mvn/version "1.2.0"},
           tick/tick               {:mvn/version "0.4.32"}, 
           thheller/shadow-cljs    {:mvn/version "2.15.12"}},
 :paths   ["src" "resources"  "test/cljs"]}
